body{
    margin:0;
background:#ffa4d9;
font-family:Poppins,sans-serif;
color:#310413;
}
header{
    background:#ffa4d9;
    text-align:center;
    padding:40px
}
h1{
    font-family:"satisfy", serif;
    font-size:60px;
    margin:0;
}
 header p{
    font-size: 20px;

}
.hero{
    text-align: center;
    padding: 80px 20px;
}
.hero h2{ 
    font-family: Cormorant Grandmond, serif;
    font-size: 45px;
}
button{
    background:#fe89f0;
    color:#fff8f4;
    border:none
    Padding 15px 30px;
    border-radius: 30px;
    font-size: 18px;
    cursor:pointer;
}
.cards{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
    padding:50px;
}
.card{
    background-color: #fff8f4;
    width: 250px;
    padding: 25px;
    border border-radius: 20px;
    
}