body{
    margin:0;
background:#fff8f4;
font-family:Poppins,sans-serif;
color:#6b4b3e;
}
header{
    background:#f8e7df;
    text-align:center;
    padding:40px
}
h1{
    font-family:"cormorant garamond", serif;
    font-size:60px;
    margin:0;
}
 header p{
    font-size 20px;

}
.hero{
    text-align: center;
    padding: 80px 20px;
}
.hero h2{ 
    font-family: Cormorant Grandmond, serif;
    font-size: 45px;
}
button{
    background:#d7a9a0;
    color:#fff8f4;
    border:none
    padding:15px 30px;
}